<div class="outer" >
  <h1>ALL POST</h1>
  <div id="listingTable" *ngFor="let post of posts, let i=index">
    <div class="card" (click)="redirectTo(post.link)" >
      <h2 class="ptitle">{{post.title.rendered}}</h2>
      <p class="price">{{post.date | date: 'dd/MM/yyyy'}}</p>
    </div>
  </div>
  <div>
        <div></div>
        <div className="pagination-css">
          page {{currentPage}} of  {{totalPage}}
            <button [disabled]="currentPage==1" (click)="setCurrentindex(2)"><- </button>&nbsp;&nbsp;
            <button [disabled]="currentPage==totalPage" (click)="setCurrentindex(1)"> -> </button> 
        </div>
    </div>
</div>

